Flask
Flask-Bootstrap
Flask-WTF

marshmallow
tinydb
python-magic
# PyESCPOS  # Requires libbluetooth-dev (debian-ish)
git+https://github.com/fabianoengler/pyescpos.git  # Like above, but py3 support
pillow  # Requires libopenjp2-7, libtiff5

# arrow
# pytz
# fuzzywuzzy[speedup]
# markdown
# purl
## beanstalkc
## python-slugify
## streql
## bleach
## braintree
## PyYAML
## pycrypto
## ipaddress
## pyotp
## qrcode
## requests
