.drinklist .sectiontitle {
    position: sticky;
    top: 0;
    z-index: 10;
}
.drinklist .sectiontitle h2 {
    margin-top: 0;
    border-bottom: 1px solid #eee;
    background: white;
}
.drinklist .row-fluid {
    margin-bottom: 3em;
}

.drink-items {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2em;
}
.drink-item {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 144px 1fr;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    column-gap: 1em;
}
.drink-item .drink-info {
    overflow: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.image-button {
    text-align: center;
}
.image-button img {
    max-width: 250px;
}
.image-button span {
    display: block;
    clear: both;
    font-size: 1.3em;
    font-weight: bold;
}


/* Media queries */
/*Extra small devices (phones, less than 768px): No media query since this is the default in Bootstrap
Small devices (tablets, 768px and up): @media (min-width: @screen-sm-min) { ... }
Medium devices (desktops, 992px and up): @media (min-width: @screen-md-min) { ... }
Large devices (large desktops, 1200px and up): @media (min-width: @screen-lg-min) { ... }*/
@media (min-width: 576px) {
}
@media (min-width: 768px) {
    .drink-items {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media (min-width: 992px) {
    .drinklist .sectiontitle h2 {
        text-align: right;
    }
}
@media (min-width: 1200px) {
    .drink-items {
        grid-template-columns: repeat(3, 1fr);
    }
}
@media (min-width: 1400px) {
}
@media (min-width: 1700px) {
    .drink-items {
        grid-template-columns: repeat(4, 1fr);
    }
}
@media (min-width: 2000px) {
    .drink-items {
        grid-template-columns: repeat(5, 1fr);
    }
}



td .form-inline {
    /*float: left;
    clear: none;*/
    display: inline;
    margin-right: 0.5em;
}

td.nowrap {
    white-space: nowrap;
}


@keyframes refreshbar {
    from {
        width: 100%;
    }
    to {
        width: 0%;
    }
}
.refresh-bar {
    animation-name: refreshbar;
    animation-timing-function: linear;
}