{% extends "base.jinja.html" %}

{% block title %}Drinks{% endblock %}

{% block content %}
    <div class="container">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Image</th>
                    <th>Name</th>
                    <th>Description</th>
                    <th>Is Orderable?</th>
                    <th>Has Strengths?</th>
                    <th>Can be a mocktail?</th>
                    <th>In Stock?</th>
                    <th>&nbsp;</th>
                </tr>
            </thead>
            <tbody>
                {% for d in drinks %}
                    <tr>
                        <td>{{ d.image |image(size='xs') }}</td>
                        <td>{{ d.name }}</td>
                        <td>{{ d.description }}</td>
                        <td>{{ d.is_orderable |bool_label }}</td>
                        <td>{{ d.has_strengths |bool_label }}</td>
                        <td>{{ d.has_mocktail |bool_label }}</td>
                        <td>{{ d.in_stock |bool_label }}</td>
                        <td>
                            <form class="form-inline" method="POST" action="{{ url_for('.delete_drink', id=d.doc_id) }}">
                                <a class="btn btn-primary btn-xs" href="{{ url_for('.edit_drink', id=d.doc_id) }}">Edit</a>
                                <input type="submit" class="btn btn-danger btn-xs" value="Delete" />
                            </form>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <a class="btn btn-primary" href="{{ url_for('.edit_drink') }}">Add New</a>
    </div>
{% endblock %}