{% extends "base.jinja.html" %}

{% block content %}
    {{ super() }}
    <div class="container">
        <a class="btn btn-default image-button" href="{{ url_for('.drinks') }}">
            <img src="{{ url_for('static', filename='images/drink.jpg') }}" />
            <span>Drinks</span>
        </a>
        <a class="btn btn-default image-button" href="{{ url_for('.drink_components') }}">
            <img src="{{ url_for('static', filename='images/bottles.png') }}" />
            <span>Drink Components</span>
        </a>
    </div>
{% endblock %}