{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros with context %}

{% block content %}
    {{ super() }}
    <div class="container-fluid drinklist">
        <div class="row-fluid">
            <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 sectiontitle">
                <h2>Drinks</h2>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <div class="drink-items">
                    {% for d in drinks %}
                        {{ macros.render_drink(d, order=True) }}
                    {% endfor %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-fluid">
            <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 sectiontitle">
                <h2>Saved Orders</h2>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <div class="drink-items">
                    {% for o in saved_orders %}
                        {{ macros.render_saved_order(o, order=True) }}
                    {% endfor %}
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="row-fluid">
            <div class="col-sm-12 col-md-2 col-lg-2 col-xl-2 sectiontitle">
                <h2>Custom Drink</h2>
            </div>
            <div class="col-sm-12 col-md-10 col-lg-10 col-xl-10">
                <form method="GET" action="{{ url_for('index.order') }}">
                    <div class="drink-items">
                        {% for d in drink_components %}
                            {{ macros.render_drink(d, select=True) }}
                        {% endfor %}
                    </div>
                    <button class="btn btn-primary btn-block" type="submit">Order</button>
                </form>
            </div>
            <div class="clearfix"></div>
        </div>
    </div>
{% endblock %}