{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros %}

{% block content %}
    {{ super() }}
    <div class="container">
        {# <div class="row">
            <a class="btn btn-default image-button" href="#">
                Custom Drink
            </a>
        </div> #}

        <div class="row">
            <h2>Drinks</h2>
            {% for d in drinks %}
                {{ macros.render_drink(d, order=True) }}
            {% endfor %}
        </div>

        <div class="row">
            <h2>Custom Drink</h2>
            <form method="GET" action="{{ url_for('index.order') }}">
                {% for d in drink_components %}
                    {{ macros.render_drink(d, select=True) }}
                {% endfor %}
                <button class="btn btn-primary" type="submit">Order</button>
            </form>
        </div>
    </div>
{% endblock %}