{% extends "base.jinja.html" %}
{% import "macros.jinja.html" as macros with context %}

{% block content %}
    {{ super() }}
    <div class="container">
        <div class="row">
            <h2>Drinks</h2>
            {% for d in drinks %}
                {{ macros.render_drink(d, order=True) }}
            {% endfor %}
        </div>

        <div class="row">
            <h2>Saved Orders</h2>
            {% for o in saved_orders %}
                {{ macros.render_saved_order(o, order=True) }}
            {% endfor %}
        </div>

        <div class="row">
            <h2>Custom Drink</h2>
            <form method="GET" action="{{ url_for('index.order') }}">
                {% for d in drink_components %}
                    {{ macros.render_drink(d, select=True) }}
                {% endfor %}
                <button class="btn btn-primary btn-block" type="submit">Order</button>
            </form>
        </div>
    </div>
{% endblock %}