{% extends "base.jinja.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "macros.jinja.html" as macros %}

{% block content %}
    {{ super() }}
    <div class="container order-form">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                <div class="row">
                    {% if drink %}
                        {{ macros.render_drink(drink, cols=[12, 12, 12, 12]) }}
                    {% elif drink_components %}
                        {% for c in drink_components %}
                            {{ macros.render_drink(c, cols=[12, 12, 12, 12]) }}
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                {{ wtf.quick_form(form) }}
            </div>
    </div>
{% endblock %}