{% extends "root.jinja.html" %}

{% block navbar %}
<!-- Static navbar -->
<nav class="navbar navbar-default navbar-static-top main-nav">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{{ url_for('index.index') }}">{{ config.get('SITE_NAME') }}</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            {% if request.url_rule %}
                {% if request.url_rule.endpoint.startswith('admin.') %}
                    <ul class="nav navbar-nav">
                        <li class="{{ 'active' if request.url_rule.endpoint == 'admin.index' else '' }}"><a href="{{ url_for('admin.index') }}">Admin</a></li>
                        <li class="{{ 'active' if request.url_rule.endpoint == 'admin.orders' else '' }}"><a href="{{ url_for('admin.orders') }}">Orders</a></li>
                        <li class="{{ 'active' if request.url_rule.endpoint == 'admin.drinks' else '' }}"><a href="{{ url_for('admin.drinks') }}">Drinks</a></li>
                        <li class="{{ 'active' if request.url_rule.endpoint == 'admin.drink_components' else '' }}"><a href="{{ url_for('admin.drink_components') }}">Drink Components</a></li>
                        <li class="{{ 'active' if request.url_rule.endpoint == 'admin.config' else '' }}"><a href="{{ url_for('admin.config') }}">Configuration</a></li>
                        <li class="{{ 'active' if request.url_rule.endpoint == 'admin.stats' else '' }}"><a href="{{ url_for('admin.stats') }}">Stats</a></li>
                        <li class="{{ 'active' if request.url_rule.endpoint == 'admin.devices' else '' }}"><a href="{{ url_for('admin.devices') }}">Devices</a></li>
                    </ul>
                {% else %}
                    <ul class="nav navbar-nav">
                        <li class="{{ 'active' if request.url_rule.endpoint == 'index.index' else '' }}"><a href="{{ url_for('index.index') }}">Order</a></li>
                    </ul>
                {% endif %}
            {% endif %}
        </div><!--/.nav-collapse -->
    </div>
</nav>
{% endblock %}
