{% macro render_media(title, description='', img=None, cols=[4, 6, 12, 12]) %}
    <div class="drink-item">
        <div class="drink-image">
            {% if img %}
                {{ img |image(class_="media-object") }}
            {% endif %}
        </div>
        <div class="drink-info">
            <h4 class="drink-title">{{ title }}</h4>
            <p class="drink-desc">{{ description }}</p>
            <div class="drink-action">{{ caller() }}</div>
        </div>
    </div>
{% endmacro %}

{% macro render_drink(d, cols=[4, 6, 12, 12], order=False, select=False) %}
    {% call render_media(d.name, description=d.description, img=d.image, cols=cols) %}
        {% if order %}
            <a class="btn btn-primary btn-block" href="{{ url_for('index.order', d=d.doc_id) }}">Order</a>
        {% endif %}
        {% if select %}
            <label class="btn btn-info btn-block"><input type="checkbox" name="c" value="{{ d.doc_id }}" /> Add to Drink</label>
        {% endif %}
    {% endcall %}
{% endmacro %}

{% macro render_saved_order(o, cols=[4, 6, 12, 12], order=False) %}
    {% call render_media(o.drink_name, cols=cols) %}
        {% for c in get_components(o.drink_components) %}
            {{ c.name }}{% if not loop.last %},{% endif %}
        {% endfor %}
        {% if order %}
            <a class="btn btn-primary btn-block" href="{{ url_for('index.order', s=o.doc_id) }}">Order</a>
        {% endif %}
    {% endcall %}
{% endmacro %}