{% extends "bootstrap/base.html" %}
{% from "bootstrap/utils.html" import flashed_messages %}

{% block styles %}
    {{ super() }}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/style.css') }}" />
    {# TODO: maybe host this locally? -#}
    {# <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" /> #}
{% endblock %}

{% block scripts %}
    {{ super() }}
    <!-- <script src="{{ url_for('static', filename='js/script.js') }}"></script> -->
{% endblock %}

{% block content %}
    {% if self.title() %}<h1>{% block title %}{% endblock %}</h1>{% endif %}
    {{ flashed_messages() }}
{% endblock %}
